body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
}
h1 {
    font-weight: 600;
}
input, button {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
/* Footer styles */
footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f1f1f1;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #ddd;
}
footer a {
    color: #007bff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
